<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>homebrew.mxcl.redis</key>
	<string>redis.png</string>
	<key>homebrew.mxcl.mongodb</key>
	<string>mongodb.png</string>
	<key>homebrew.mxcl.mysql</key>
	<string>mysql.png</string>
	<key>homebrew.mxcl.nginx</key>
	<string>nginx.png</string>
	<key>homebrew.mxcl.beanstalk</key>
	<string>beanstalkd.png</string>
	<key>homebrew.mxcl.postgresql</key>
	<string>postgres.png</string>
</dict>
</plist>
